.body{
    background-image: -webkit-radial-gradient(center,ellipse closest-corner,#ffffff 0%, #FFB6C1 100%);
    margin: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    object-fit: cover;
    white-space: nowrap;
}

.button {
    width: 180px;
    height: 180px;
    border-radius: 50%;
    background-color:black;
    margin: 10px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}
.button:hover {
    background-color: #333;
}

.text {
    font-size: 36px; 
    font-family:'Courier New', Courier, monospace;
    color: #ffffff;
    text-align: center;
}

.line {
    margin-bottom: 10px;
    font-size: 75px;
    color:red;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}